---
Mappings:
- modelMapping:
    sourceModel: item
    targetModel: product
    fieldMapping:
    - targetField: topic
      default: "product-integration-topic"
    - targetField: operation
      default: "CREATE"
    - targetField: isFullyQualifiedTopicName
      default: false
    segmentMapping:
    - targetSegment: key
      fieldMapping:
      - targetField: orgId
        default: "JUNE03"
      - sourceField: tradeItemBaseUnitOfMeasure
        targetField: uom
      - targetField: productId
        sourceField: itemId.primaryId
    - targetSegment: value
      fieldMapping:
      - targetField: enabled
        default: true
      - targetField: orgId
        default: "JUNE03"
      - targetField: productCategory
        default: "DEFAULT"
      - sourceField: classifications.itemFamilyGroup
        targetField: productClass
      - sourceField: itemId.primaryId
        targetField: productId
      - targetField: sourcingClassification
        default: "DC"
      - targetField: status
        default: "Enabled"
      - sourceField: tradeItemBaseUnitOfMeasure
        targetField: uom
      - sourceField: operationalRules.trackingDateCode
        targetField: timeSensitive
        Condition:
          options:
          - eq:
              field: operationalRules.trackingDateCode
              value: "E"
              then: operationalRules.trackingDateCode default true
              otherwise: default false
      - sourceField: operationalRules.trackingInformation.trackLotNumbers
        targetField: lotTracked
      - targetField: updateUser
        default: "BY-Connect"
      - targetField: trackingLevel
        default: "SKU"
      segmentMapping:
      - targetSegment: description
        fieldMapping:
        - targetField: short
          Condition:
            options:
            - eq:
                field: description.descriptionType
                value: "SHORT"
                then: description.value
        - sourceField: description.value
          targetField: long
          Condition:
            options:
            - eq:
                field: description.descriptionType
                value: "LONG"
                then: description.value
      - targetSegment: weight
        fieldMapping:
          - sourceField: itemLogisticUnitInformation.itemLogisticUnit.grossWeight.value
            targetField: value
          - sourceField: itemLogisticUnitInformation.itemLogisticUnit.grossWeight.measurementUnitCode
            targetField: uom
      - targetSegment: dimensions
        fieldMapping:
        segmentMapping:
          - targetSegment: length
            fieldMapping:
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.depth.value
                targetField: value
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.depth.measurementUnitCode
                targetField: uom
          - targetSegment: width
            fieldMapping:
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.width.value
                targetField: value
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.width.measurementUnitCode
                targetField: uom
          - targetSegment: height
            fieldMapping:
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.height.value
                targetField: value
              - sourceField: itemLogisticUnitInformation.itemLogisticUnit.dimensionsOfLogisticUnit.height.measurementUnitCode
                targetField: uom
      segmentListMapping:
      - targetSegment: prices
        fieldMapping:
        - targetField: type
          default: "UNITPRICE"
        - sourceField: financialInformation.unitRetailPrice.value
          targetField: value
        - sourceField: financialInformation.unitRetailPrice.currencyCode
          targetField: currency

